@import "../../_palette.scss";

.container { padding: 20px; }
.action-button, .new-button {
  color: white;
  background-color: $_orange400;
}
.mat-button[disabled] { background-color:  $_orange200; }
.action-buttons {
  display: inline-block;
  padding-left: 25px;
}
.item { display: flex; }
.model { display: flex; }
.button-container { padding-bottom: 20px; }
.mat-expansion-panel-header { max-height: 38px; }
.mat-expansion-panel { flex: 0 0 600px; }
.model { 
  background-color: #efefef; 
  padding: 5px 10px 0 10px;
}
.model:hover .model-buttons { display: inline; }
.model-buttons a:hover {
  color: aqua;
}
.model-buttons { display: none; }
.add-model { margin-top: 10px; }
.flex-fill { flex: 1; }

.mat-input-container { max-height: 42px; min-width: 300px; }
.mat-input-flex { background-color: #fff; }
.mat-icon-button { height: 30px; width: 30px; }
.mat-input-element:focus {
  background-color: #fff;
}
.panel-header { flex: 1 0 auto; }
.panel-title { 
  display: inline;
  line-height: 40px;
}
.panel-buttons { 
  float: right;
  display: none;
}
.panel-header:hover .panel-buttons { display: inline; }
