<div class="card">
  <div class="{{bgClass}} border">
    <div class="container">
      <div class="row-top">
        <div class="icon">
            <i class="fa {{icon}} fa-5x"></i>
          </div>
          <div class="content">
            <div class="count">{{count}}</div>
            <div class="label">{{label}}</div>
          </div>
      </div>
      <div class="row-bottom">
        <div class="action">
          <a [routerLink]="route">View Details<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</div>