<div class="dashboard-container">
  <div class="stats">
    <div><app-stat [bgClass]="'top-row'" [icon]="'fa-laptop'" [count]="_deviceCount" [label]="'Devices'" [route]="['/setup/device']"></app-stat></div>
    <div><app-stat [bgClass]="'top-row'" [icon]="'fa-handshake-o'" [count]="_loanCount" [label]="'On Loan'" [route]="['/loan']"></app-stat></div>
  </div>
  <div class="stats">
    <div><app-stat [bgClass]="'middle-row'" [icon]="'fa-cubes'" [count]="_spareCount" [label]="'Spare Laptops'" [route]="['/setup/device']"></app-stat></div>
    <div><app-stat [bgClass]="'middle-row'" [icon]="'fa-history'" [count]="_sparesOnLoanCount" [label]="'Loaned Spares'" [route]="['/loan']"></app-stat></div>
  </div>
</div>