@import "_palette";

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-container {
  display: flex;
  flex: 1;
}
.page-content {
  flex: 1;
  padding-left: 20px;
}
.side-nav {
  flex: 0 0 fit-content;
  order: -1;
  background-color: $_darkgrey;
}
.page-navbar {
  z-index: 10;
  box-shadow: 
  0 3px 5px -1px rgba(0,0,0,.2), 
  0 6px 10px 0 rgba(0,0,0,.14), 
  0 1px 18px 0 rgba(0,0,0,.12);
}
.fill-space { flex: 1 1 auto; }