@import "../../_palette.scss";

.container { padding: 20px; }
.action-button, .new-button {
  color: white;
  background-color: $_orange400;
}
.mat-button[disabled] { background-color:  $_orange200; }
.action-buttons {
  display: inline-block;
  padding-left: 25px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.checkbox-fix { overflow: unset; }
.mat-column-selected { max-width: 38px; }
.mat-column-type { flex: 0 0 200px; }
.list-container { 
  max-width: 1000px; 
}
::ng-deep .formFieldWidth350 .mat-form-field-infix {
  width: 350px;
}